ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.contentin {
	display: block;
}

#tab li {
	float: left;
	background-color: white;
	color: blue;
	padding: 5px;
	margin-right: 2px;
	cursor: pointer;
}
#tab li.tabin {
	background-color: #AAFAF5;
	/*border: 1px solid black;*/
	border-bottom: 0;
	z-index: 100;
	position: relative;
}
#content {
  	width: 98%;
	height: 99%;
	padding: 10px;
	background-color: #AAFAF5;
	clear: left;
	/*border: 1px solid black;*/
	position: relative;
	top: -1px;
}
img {
	display: none;
}
