@charset "utf-8";
.header .block_header .langs{
	float:left;
	width:96px;
	height:19px;
}
.header .block_header .langs ul{
	float:right;
	width:96px;
	margin:20px 20px;
	list-style:none;
}
.langs ul li{
	float:right;
	margin:0 0 0 5px;
}
.langs ul li a{
	background:url(../images/langs.jpg) no-repeat;
	display: block;
    height: 19px;
    overflow: hidden;
    text-indent: -9999em;
    width: 19px;
}
.langs li.zh a{
	background-position: -19px 0;
}
.langs li.fr a {
    background-position: -38px 0;
}
.langs li.de a {
    background-position: -57px 0;
}

.photo ul{
	width:100%;
	height:145px;
	margin:0px;
	padding:0px;
	list-style: none;
}
.photo ul li{
	background:none;
	display: inline;
	color: none;
    font: none;;
    margin:0px;
    padding: 0px;
}
.photo ul li img{
	margin-right:20px;
}

.left .con select{
	width:60px;
	font: 11px Georgia,Times New Roman,Times,serif;
	margin-right:10px;
}
.bar ul li{
	background:none;
}

.ro .img img{
	border:1px solid #C0C0C0;
	padding:5px;
	margin:12px;
}
.ro .issues{
	float:left;
	width:300px;
	font-size:20px;
	margin-left: 10px;
}
.ro .issues ul{
	list-style: upper-alpha;
	margin:10px 0 0 40px;
}
.ro .issues ul li{
	background:none;
	padding:10px;
}



